* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

.NavIcon .closed {
  color: grey;
}

#icon {
  color: #36736f;
}

#itemlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .div:last-child(n + 1),
.div:last-child(n + 1) {
  color: pink;
} */

/* .nav-menu-items {
  height: 100vh;
  width: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  /* left: ${({ sidebar }) => (sidebar ? "0" : "-100%")};
  transition: 350ms; */
/* z-index: 10; */
/* } */

.nav-menu {
  background-color: #d9d9d9;
}

/* #icon:nth-last-child(2),
.titles:nth-last-child(2) {
  margin-top: 750px;
} */

/* body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 300px;
  background-color: white;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: background-color 0.15s;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.SidebarList #active {
  background-color: #d9d9d9;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
  color: #36736f;
}

.row #title {
  flex: 70%;
  color: #4f4f4f;
}

.SidebarList li:nth-last-child(2) {
  margin-top: 750px;
} */

/* Optional: Style the caret down icon */
/* .dropdown {
  color: #a1a1a1;
  transition: transform 0.3s;
}

.SidebarList.open > #active .dropdown {
  color: #000000;
  transform: rotate(90deg);
}

li:nth-last-child(-n + 6) .dropdown {
  display: none;
}

li:nth-child(1) .dropdown {
  display: none;
}

.sidebar-content {
  padding-top: 2em;
  height: 0;
  display: none;
}

li:nth-last-child(-n + 6) .sidebar-content {
  display: none;
}

li:nth-child(1) .sidebar-content {
  display: none;
}

.SidebarList.open > #active .sidebar-content {
  height: auto;
  display: flex;
}  */
